  // Spotlight section with gradient background
  .spotlight {
    width: 100%;
    background: #fcf9f9;
    height: 100vh;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    position: relative;
    
  }